
<p>To remove lessons from a chain with disconnected links</p>
<ul>
<li>Identify the lesson containing students or tutors (number under the "students" & "tutors" header</li>
<li>Get the id under the 'first' header - this number is the same for every lesson in the chain</li>
<li>Using the date and time for your lesson containing tutors/students, open calendar using this info </li>
<li>In the calander, show comments type "cid" (chain identifier) </li>
<li>In the calander, seach (find) the number from the 'first' header. Prefix with cid if necessary.</li>
<li>This will show all lessons on the page in this chain.</li>
<li>Drag the student/student to the alternate lesson IN THIS SLOT.</li>
</ul>
<p> Once you have done this for all lessons containing students/tutors, you will be able to fix this chain.</p>
