<h1>Admin Controller - Load Tutors Data from Google Spreadsheet</h1>
<table>
    <% @tutors.each do |r| %>
        <tr>
            <% r.each do |c| %>
                <td><%= c %></td>
            <% end %>
        </tr>
    <% end %>
</table>
<br>

<%= link_to 'New Google', new_google_path %>
