<h1>Google sheet Page</h1>

<% if @authoriseUrl then %>
    <div id="authorize">
      <p>You do not have access to your google sheet.</p>
      <p> If you wish to access your google sheet, please follow the appropriate steps </p>
      <%= link_to 'Authorise connecting your google spreadsheet', @authoriseUrl %>
    </div>
<% end %>


