<p id="notice"><%= notice %></p>

<h1> Student Changes </h1>
<p>Changes between <%= @student_change["startdate"].strftime("%a %d/%m/%Y") %>
   and <%= @student_change["enddate"].strftime("%a %d/%m/%Y") %> </p>

<%= render "change" %>
