<p id="notice"><%= notice %></p>

<h1> Tutor History </h1>
<p>History between <%= @tutor_history["startdate"].strftime("%a %d/%m/%Y") %>
   and <%= @tutor_history["enddate"].strftime("%a %d/%m/%Y") %> </p>

<%= render "history" %>
