<div id="page_name" class="hideme">catchups</div>
<h1>Listing Student Catchups</h1>
From <%= @mystartdate.strftime("%a %d/%m/%Y") %> to <%= @myenddate.strftime("%a %d/%m/%Y") %>
<table id='catchuptable' >
  <thead>
    <tr>
      <th>Catchup Lesson Kind</th>
      <th>Catchup Date / Time</th>
      <th>Location</th>
      <th>Student</th>
      <th>Catchup Status</th>
      <th>Catchup Kind</th>
      <th>Catchup Comment</th>
      <th>Away Comment</th>
      <th>Away Date</th>
      <th>Elapsed Weeks</th>
      <th class='catchupaction'>action</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <%= render partial: "catchups", locals: {role: role} %>
    <% end %>
  </tbody>
</table>

