// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-slot {
  background-color: grey;
}

.lesson {
  margin: 1px;
  background-color: #f8f;
  padding-top: 8px;
  font-size: x-small;
  line-height: 8px;
  border:5px solid #faf;}

.lesson:hover {
  border: 5px solid black;
}

.lessoncomment {
  display: inline-block;
  margin: 3px;
  /* background-color: white; */
  width: 74%;
}


.tutor {
  margin: 1px;
  color: black;
  background-color: #aaf;
  line-height: 18px;
  border:5px solid #aaf;
}

.tutorinline, .studentinline{
  vertical-align: top;
}

.tutor:hover {
  border: 5px solid green;
}

.tutorname {
  display: inline-block;
  width: 25%;
}

.tutorcomment {
  display: inline-block;
  /* background-color: white; */
  width: 74%;
  padding-left: 1%;
}

.student {
  margin: 1px;
  color: black;
  background-color: #afa;
  line-height: 18px;
  border:5px solid #afa;
}

.student:hover {
  border: 5px solid blue;
}

.studentname {
  display: inline-block;
  width: 25%;
}

.studentcomment {
  display: inline-block;
  /* background-color: white; */
  width: 74%;
}

#edit-comment-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
    cursor: pointer; 
}

td {
  vertical-align: top;
}
table {
  width: 100%; 
}
table, th, td {
  border: 1px solid black;
}
.positionable {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  background-color: #bcd5e6;
  text-align: center;
  width: 120px;
  height: 75px;
  z-index: 10;
}

.ui-draggable {
  //background-color: #ffd5e6;
}

.ui-draggable-dragging {
  //border: 5px solid red;
}

.ui-state-highlight {
  border: 5px solid green;
}

.ui-droppable-hover {
  border: 5px solid red;
}


.updating {
  background-color: amber;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  //padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 1px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.tertiary-menu {
  display: none;
  position: absolute;
  z-index: 10;
  //padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.tertiary-menu--active {
  display: block;
}

.tertiary-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tertiary-menu__item {
  display: block;
  margin-bottom: 1px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.hideme {
  display: none;
}

#personInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 0px;
}

// Tutors & Students backgroune colours

// Background defaults to white if no settings in database
.t-kind-standard {
  background-color: #ffffff;   //white  
}
.t-status-BFL {
  background-color: #ffffff;   //white  
}
.s-kind-standard {
  background-color: #ffffff;   //white  
}
.s-status-standard {
  background-color: #ffffff;   //white  
}

// colours for tutors
.t-kind-BFL {
  background-color: #ffff00;   //yellow  
}

.t-status-BFL {
  background-color: #ffff00;   //yellow  
}

// colours for students
.t-kind-away-action {
  background-color: #ff0000;   //red  
}

.t-status-undealtAbsent {
  background-color: #ff0000;   //red 
}

.t-kind-known-steps-remaining {
  background-color: #ff9900;   //orange  
}

.t-kind-needsAttention {
  background-color: #ff00ff;   //magneta  
}

.t-kind-breakRoutine-relief {
  background-color: #00ff00;   //cyan 
}

.t-kind-bewareIssue {
  background-color: #9900ff;   //purple 
}

.t-status-dealtAbsent {
  background-color: #666666;   //grey 
}

.t-kind-awayAction {
  background-color: #CC0000;   //dark rec
}
.t-status-absent {
  background-color: #CC0000;   //dark red
}

.t-kind-onCall {
  background-color: #00FFFF;   //ligt blue
}

.t-kind-onSetup {
  background-color: #EAD1DC;   //ligt magneta 3
}

// colours for students
.s-kind-BFL {
  background-color: #ffff00;   //yellow  
}

.s-kind-free {
  background-color: #00ff00;   //green  
}

.s-kind-1stpaid {
  background-color: #B6D7A8;   //light green 2  
}

.s-status-undealtAbsent {
  background-color: #FF0000;   //red  
}

.s-kind-known-steps-remaining {
  background-color: #FF9900;   //orange  
}

.s-kind-plannedAbsence-needsAttention {
  background-color: #FF00FF;   //magneta  
}

.s-kind-breakRoutine-courtisyOrShifted {
  background-color: #00FFFF;   //cyan  
}

.s-kind-bewareIssue {
  background-color: #9900FF;   //purple  
}

.s-status-dealtAbsent {
  background-color: #666666;   // grey  
}

.s-status-absent {
  background-color: #666666;   // grey  
}

.s-kind-fortnightly {
  background-color: #A2C4C9;   //light cyan 2  
}

.s-kind-awayAction {
  background-color: #C00000;   //dark red  
}

.s-kind-Gungahlin {
  background-color: #C9DAF8;   //light green 3  
}

.s-kind-Kaleen {
  background-color: #D9D2E9;   //light purple 3  
}

.s-kind-Woden {
  background-color: #D9D9D9;   //light grey 1  
}

.s-kind-Kambah {
  background-color: #FFF2CC;   //light yellow 3  
}

// Notes
.s-kind-notes {
  background-color: #FCE5CD;   //light orange 3  
}
.t-kind-notes {
  background-color: #FCE5CD;   //light orange 3  
}
.t-kind-tutorNote {
  background-color: #999999;   //light orange 3  
}
.s-kind-tutorNote {
  background-color: #999999;   //light orange 3  
}





