// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.no-slot {
  background-color: grey;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 9;
}

#sticky-header {
  background-color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky-header__title {
  position: relative;
  line-height: 1.5em;
}

.sticky-header__icon {
  cursor: pointer;
  position: relative;
  height: 25px;
  width: 25px;
}

.sticky-header__icon::before {
    position: absolute;
    top: 0;
    display: block;
    height: 2px;
    width: 20px;
    background: black;
    content: '';
}

.sticky-header__icon::after {
    position: absolute;
    top: 6px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    content: '';
}

.lesson {
  margin: 1px;
  background-color: #f8f;
  padding-top: 8px;
  font-size: x-small;
  line-height: 8px;
  border:5px solid #faf;
}

.lesson:hover {
  border: 5px solid black;
}

.lessoncomment {
  display: inline-block;
  margin: 3px;
  /* background-color: white; */
  width: 74%;
}

.n-status-onCall {
  background-color: cornflowerblue;
  border-color: blue;
}

.n-status-onSetup {
  background-color: Wheat;
  border-color: Tan;
}

.n-status-allocate {
  background-color: Orange;
  border-color: DarkOrange;
}

.n-status-free {
  background-color: #75e052;
  border-color: #85c270;
}


.n-status-on_BFL {
  background-color: lemonchiffon;
  border-color: yellow;
}

.n-status-routine {
  background-color: lavenderblush;
  border-color: hotpink;
}

.n-status-standard {
  background-color: lavenderblush;
  border-color: hotpink;
}

.n-status-flexible {
  background-color: Plum;
  border-color: MediumOrchid;
}

.n-status-global {
  background-color: DarkKhaki;
  border-color: Olive;
}

.n-status-park {
  background-color: DarkGrey;
  border-color: Grey;
}


.tutor {
  margin: 4px 1px 1px 1px;
  color: black;
  background-color: #aaf;
  line-height: 18px;
  border:5px solid #aaf;
}

.inlinetutorstudents {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.tutorinline, .studentinline{
  vertical-align: top;
}

.tutor:hover {
  border: 5px solid green;
}

.grouptutors {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.grouptutors2 {
  vertical-align: top;
}

.groupstudents {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.groupstudents2 {
  vertical-align: top;
}


.tutorname {
  //display: inline-block;
  width: 100%;
}

//.grouptutors .tutorname {
//  display: in-line block;
//}

.tutorcomment {
  //display: inline-block;
  /* background-color: white; */
  width: 100%;
  padding-left: 1%;
}
//.grouptutors .tutorcomment {
//  width: 100%;
//  padding-left: 1%;
//}

.student {
  margin: 4px 1px 1px 1px;
  color: black;
  //background-color: #afa;
  line-height: 18px;
  border:5px solid #afa;
}

.slot:hover {
  border: 3px solid blue;
}

.student:hover {
  border: 5px solid blue;
}

.studentname {
  //display: inline-block;
  width: 100%;
}
//.groupstudents .studentname {
//  display: none;
//  width: 100%;
//}

.studentcomment {
  //display: inline-block;
  background-color: white;
  width: 100%;
}
//.groupstudents .studentcomment {
//  display: none;
//  width: 100%;
//}

#edit-comment-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
    cursor: pointer; 
}

td {
  vertical-align: top;
}
table {
  table-layout:fixed;
  width: 100%; 
}
table, th, td {
  border: 3px solid black;
}

.firsttablecolumn {
  width: 100px;
}

.positionable {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  background-color: #bcd5e6;
  text-align: center;
  width: 120px;
  height: 75px;
  z-index: 10;
}

.ui-draggable {
  //background-color: #ffd5e6;
}

.ui-draggable-dragging {
  //border: 5px solid red;
}

.ui-state-highlight {
  border: 5px solid green;
}

.ui-droppable-hover {
  border: 5px solid red;
}


.updating {
  background-color: amber;
}

//.history {
//  margin: 1px;
//  color: black;
//  background-color: brown;
//  line-height: 18px;
//  border:5px solid red;
//  padding: 15px;
//  width: 800px;
//}

  .ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
  }

  .history h4 {
    float: left;
    width: 45%;
    margin-top: 0;
  }
  
  .history #closehistory {
     float: right;
     width: 20px;
     height: 20px;
     cursor: pointer;
     z-index: 200;
  }
  
  .history #closehistory:hover {
    background-color: white;
  }
  
  .history svg {
    height: 100%;
    width: 100%;
  }

  .history table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    clear: both;
    background-color: AliceBlue;
  }

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  //padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 1px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.tertiary-menu {
  display: none;
  position: absolute;
  z-index: 10;
  //padding: 12px 0;
  width: 250px;
  height: 340px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

#edit-comment-text {
  height: 160px;
}

#edit-subject-text {
  height: 160px;
}

.tertiary-menu--active {
  display: block;
}

.tertiary-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tertiary-menu__item {
  display: block;
  margin-bottom: 1px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.hideme {
  display: none;
}

#personInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 0px;
}

// Site colours
#site-CALWELL {
  border: 4px solid lightpink;
}
.selectSiteCALWELL {
  background-color: lightpink;  
  //display: inline-block;
}
#site-DICKSON {
  border: 4px solid mediumseagreen;
}
.selectSiteDICKSON {
  background-color: mediumseagreen;  
  //display: inline-block;
}
#site-GUNGAHLIN {
  border: 4px solid lightskyblue;
}
.selectSiteGUNGAHLIN {
  background-color: lightskyblue;  
  //display: inline-block;
}
#site-KALEEN {
  border: 4px solid purple;
}
.selectSiteKALEEN {
  background-color: purple;  
  //display: inline-block;
}
#site-KAMBAH {
  border: 4px solid yellow;
}
.selectSiteKAMBAH {
  background-color: yellow;  
  //display: inline-block;
}
#site-WODEN {
  border: 4px solid Silver;
}
.selectSiteWODEN {
  background-color: Silver;  
  //display: inline-block;
}
#site-ERINDALE {
  border: 4px solid white;
}
.selectSiteERINDALE {
  background-color: white;  
  //display: inline-block;
}
#site-ONCALL {
  border: 4px solid white;
}
.selectSiteONCALL {
  background-color: white;  
  //display: inline-block;
}
.jumptosite {
  display: inline-block;
}

// Tutors & Students backgroune colours

// Background defaults to white if no settings in database
.t-kind-standard {
  background-color: #ffffff;   //white  
}
.t-status-BFL {
  background-color: #ffffff;   //white  
}
.s-kind-standard {
  background-color: #ffffff;   //white  
}
.s-status-standard {
  background-color: #ffffff;   //white  
}

// colours for tutors
// colours taken from:
// https://www.whoishostingthis.com/resources/css-colors/

.checklisttutors, .checklistlesson, .checklistpersonal {
  display: inline-block;
}

.global, .allocate {
  display: inline-block;
  border: 2px solid black;
}
.global {
  display: inline-block;
  border: 2px solid black;
  background-color: MistyRose;
}
.allocate {
  display: inline-block;
  border: 2px solid black;
  background-color: PaleTurquoise;
}

.allocate:hover {
  border: 2px solid green;
  background-color: MistyRose;
}



.tutor .tutrolecomment, .student .rolecomment, .checklistlesson {
  color: green;
}
.tutor .tutorcommentdetail, .student .studentcommentdetail, .checklistpersonal {
  color: blue;
}

.tutor, .student {
  background-color: white;   
}

.make-transparent {
   background-color: rgba(255, 255, 255, .3);
}

/*
.student .rolecomment, .checklistlesson {
  color: green;
}
.student .studentcommentdetail, .checklistpersonal {
  color: blue;
}

.student {
  background-color: white;   
}
*/




/*
.selectshowspeople {
  display: inline-block;
  margin: 3px;
}
.selectshowscomments {
  display: inline-block;
  margin: 3px;
}
.selectshowscommentslesson {
  display: inline-block;
  margin: 3px;
}
.selectshowscommentspersonal {
  display: inline-block;
  margin: 3px;
}
*/

// tutor status

.t-status-scheduled .tutorname   {
  background-color: mediumturquoise;   
}
.t-status-notified .tutorname {
  background-color: mediumaquamarine;   
}
.t-status-confirmed .tutorname {
  background-color: palegreen;   
}
.t-status-attended .tutorname {
  background-color: yellowgreen;   
}
.t-status-deal .tutorname {
  background-color: fuchsia;   // a highlighter pink 
}
.t-status-away .tutorname {
  background-color: Silver;      // light gray   
}
// note: absent defined previously

// already existing statuses - do not want to remove
// in order to ensure old entries (imported) remain working
.t-status-undealtAbsent .tutorname {
  background-color: #ff0000;   //red 
}
.t-status-dealtAbsent .tutorname {
  background-color: #666666;   //grey 
}
.t-status-absent .tutorname {
  background-color: #CC0000;   //dark red
}

.t-kind-standard .statusinfo {
  background-color: PeachPuff;
}
.t-kind-training .statusinfo {
  background-color: sandybrown;  
}
.t-kind-called .statusinfo {
  background-color: lightskyblue;  
}
.t-kind-relief .statusinfo {
  background-color: wheat;  
}

// already existing kinds - do not want to remove
// in order to ensure old entries (imported) remain working
.t-kind-BFL .statusinfo {
  background-color: #ffff00;   //yellow  
}
.t-kind-BFLassist .statusinfo {
  background-color: #eeee00;   //yellow  
}
.t-kind-away-action .statusinfo {
  background-color: #ff0000;   //red  
}
.t-kind-known-steps-remaining .statusinfo {
  background-color: #ff9900;   //orange  
}
.t-kind-needsAttention .statusinfo {
  background-color: #ff00ff;   //magneta  
}
.t-kind-breakRoutine-relief .statusinfo {
  background-color: #00ff00;   //cyan 
}
.t-kind-bewareIssue .statusinfo {
  background-color: #9900ff;   //purple 
}
.t-kind-awayAction .statusinfo {
  background-color: #CC0000;   //dark rec
}
.t-kind-onCall .statusinfo {
  background-color: #00FFFF;   //ligt blue
}
.t-kind-onSetup .statusinfo {
  background-color: #EAD1DC;   //ligt magneta 3
}

//----------- borders for tutors based on kind

.t-kind-standard  {
  border: 5px solid PeachPuff;  
}
.t-kind-training {
  border: 5px solid sandybrown;  
}
.t-kind-called {
  border: 5px solid lightskyblue;  
}
.t-kind-relief {
  border: 5px solid wheat;  
}

// already existing kinds - do not want to remove
// in order to ensure old entries (imported) remain working
.t-kind-BFL {
  border: 5px solid #ffff00;   //yellow  
}
.t-kind-BFL {
  border: 5px solid #eeee00;   //lighter yellow  
}
.t-kind-away-action {
  border: 5px solid #ff0000;   //red  
}
.t-kind-known-steps-remaining {
  border: 5px solid #ff9900;   //orange  
}
.t-kind-needsAttention {
  border: 5px solid #ff00ff;   //magneta  
}
.t-kind-breakRoutine-relief {
  border: 5px solid #00ff00;   //cyan 
}
.t-kind-bewareIssue {
  border: 5px solid #9900ff;   //purple 
}
.t-kind-awayAction {
  border: 5px solid #CC0000;   //dark rec
}
.t-kind-onCall {
  border: 5px solid #00FFFF;   //ligt blue
}
.t-kind-onSetup {
  border: 5px solid #EAD1DC;   //ligt magneta 3
}

//============================================
// colours for students


// already existing statuses - do not want to remove
// in order to ensure old entries (imported) remain working

.s-status-scheduled .studentname {
  background-color: mediumturquoise;   
}
.s-status-attended .studentname {
  background-color: yellowgreen;   
}
.s-status-deal .studentname {
  background-color: fuchsia;        // a highlighter pink 
}
.s-status-away .studentname {
  background-color: Silver;      // light gray   
}
.s-status-awaycourtesy .studentname {
  background-color: Silver;      // light gray   
}
// absent covered below.


.s-status-undealtAbsent .studentname {
  background-color: #FF0000;   //red  
}
.s-status-dealtAbsent .studentname {
  background-color: #666666;   // grey  
}

.s-status-absent .studentname {
  background-color: #CC0000;   // grey  
}

// ------ student kind --------------------
.s-kind-first .statusinfo {
  background-color: #B6D7A8;   //light green 2  
}
.s-kind-catchup .statusinfo {
  background-color: lightblue;  
}
.s-kind-catchupcourtesy .statusinfo {
  background-color: lightblue;  
}
.s-kind-fortnightly .statusinfo {
  background-color: steelblue;  
}
.s-kind-onetoone .statusinfo {
  background-color: salmon;  
}
.s-kind-standard .statusinfo {
  background-color: PeachPuff;  
}

// already existing kinds - do not want to remove
// in order to ensure old entries (imported) remain working

.s-kind-BFL .statusinfo {
  background-color: #ffff00;   //yellow  
}

.s-kind-free .statusinfo {
  background-color: #00ff00;   //green  
}

.s-kind-1stpaid .statusinfo {
  background-color: #B6D7A8;   //light green 2  
}

.s-kind-known-steps-remaining .statusinfo {
  background-color: #FF9900;   //orange  
}

.s-kind-plannedAbsence-needsAttention .statusinfo {
  background-color: #FF00FF;   //magneta  
}

.s-kind-breakRoutine-courtisyOrShifted .statusinfo {
  background-color: #00FFFF;   //cyan  
}

.s-kind-bewareIssue .statusinfo {
  background-color: #9900FF;   //purple  
}

.s-kind-fortnightly .statusinfo {
  background-color: #A2C4C9;   //light cyan 2  
}

.s-kind-awayAction .statusinfo {
  background-color: #C00000;   //dark red  
}

.s-kind-Gungahlin .statusinfo {
  background-color: #C9DAF8;   //light green 3  
}

.s-kind-Kaleen .statusinfo {
  background-color: #D9D2E9;   //light purple 3  
}

.s-kind-Woden .statusinfo {
  background-color: #D9D9D9;   //light grey 1
}

.s-kind-Kambah .statusinfo {
  background-color: #FFF2CC;   //light yellow 3  
}

// Notes
.s-kind-notes .statusinfo {
  background-color: #FCE5CD;   //light orange 3  
}
.t-kind-notes .statusinfo {
  background-color: #FCE5CD;   //light orange 3  
}
.t-kind-tutorNote .statusinfo {
  background-color: #999999;   //light orange 3  
}
.s-kind-tutorNote .statusinfo {
  background-color: #999999;   //light orange 3  
}

// ------set up borders using student kind --------------------
.s-kind-first {
  border: 5px solid #B6D7A8;   //light green 2  
}
.s-kind-catchup {
  border: 5px solid lightblue;  
}
.s-kind-catchupcourtesy {
  border: 5px solid lightblue;  
}
.s-kind-fortnightly {
  border: 5px solid steelblue;  
}
.s-kind-onetoone {
  border: 5px solid salmon;  
}
.s-kind-standard {
  border: 5px solid PeachPuff;  
}

// already existing kinds - do not want to remove
// in order to ensure old entries (imported) remain working

.s-kind-BFL {
  border: 5px solid #ffff00;   //yellow  
}

.s-kind-free {
  border: 5px solid #00ff00;   //green  
}

.s-kind-1stpaid {
  border: 5px solid #B6D7A8;   //light green 2  
}

.s-kind-known-steps-remaining {
  border: 5px solid #FF9900;   //orange  
}

.s-kind-plannedAbsence-needsAttention {
  border: 5px solid #FF00FF;   //magneta  
}

.s-kind-breakRoutine-courtisyOrShifted {
  border: 5px solid #00FFFF;   //cyan  
}

.s-kind-bewareIssue {
  border: 5px solid #9900FF;   //purple  
}

.s-kind-fortnightly {
  border: 5px solid #A2C4C9;   //light cyan 2  
}

.s-kind-awayAction {
  border: 5px solid #C00000;   //dark red  
}

.s-kind-Gungahlin {
  border: 5px solid #C9DAF8;   //light green 3  
}

.s-kind-Kaleen {
  border: 5px solid #D9D2E9;   //light purple 3  
}

.s-kind-Woden {
  border: 5px solid #D9D9D9;   //light grey 1
}

.s-kind-Kambah {
  border: 5px solid #FFF2CC;   //light yellow 3  
}

// Notes
.s-kind-notes {
  border: 5px solid #FCE5CD;   //light orange 3  
}
.t-kind-notes {
  border: 5px solid #FCE5CD;   //light orange 3  
}
.t-kind-tutorNote {
  border: 5px solid #999999;   //light orange 3  
}
.s-kind-tutorNote {
  border: 5px solid #999999;   //light orange 3  
}

// borders to indicate element is a chain
.run {
  border-top-style: dotted;
}
.runf {
  border-left-style: dotted;
}
.runl {
  border-right-style: dotted;
}

// statistics specific items
.formatcatchup, .catchup {
    color: blue; 
}
.formatcatchupcourtesy, .catchupcourtesy {
    color: blue; 
}
.formatregular, .regular {
    color: Fuchsia;  
}
.formatfree, .free {
    color: green;  
}
.selectshowstats {
    display: inline-block;
}

.selectdayofweek{
    display: inline-block;
}
.selecttime{
    display: inline-block;
}

.dow1, .dow2, .dow3, .dow4, .dow5 {
  text-align: center;
}

.blockheader {
  display: inline-block;
}

.buttonlink{
	display:inline-block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	background:#ccc;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
	font-weight:900;
	font-size: 10px;
}
.buttonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}
.buttonlink:active{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
	background: green;
}

.doing{
  background: red;
  box-shadow: inset 0 0 2px 2px black;
}

.checkboxzone:hover {
  background: Azure;
}
.checkboxzone:active {
  background: Green;
}
