.no-slot {
  background-color: grey; }

.lesson {
  margin: 1px;
  background-color: #f8f;
  padding-top: 8px;
  font-size: x-small;
  line-height: 8px;
  border: 5px solid #faf; }

.lesson:hover {
  border: 5px solid black; }

.lessoncomment {
  display: inline-block;
  margin: 3px;
  /* background-color: white; */
  width: 74%; }
  
.np-status, .np-kind, .p-status {
  display: inline-block
}

.n-status-onCall, #lesson-status-oncall {
  background-color: cornflowerblue;
  border-color: blue; 
}

.n-status-onSetup, #lesson-status-onsetup {
  background-color: Wheat;
  border-color: Tan;
}

.n-status-allocate, #lesson-status-allocate {
  background-color: Orange;
  border-color: DarkOrange;
}

.n-status-free, #lesson-status-free {
  background-color: #75e052;
  border-color: #85c270;
}

.n-status-on_BFL, #lesson-status-on_BFL {
  background-color: lemonchiffon;
  border-color: yellow; 
}

.n-status-routine, #lesson-status-routine {
  background-color: lavenderblush;
  border-color: hotpink;
}


.n-status-standard, #lesson-status-standard {
  background-color: lavenderblush;
  border-color: hotpink;
}

.n-status-flexible, #lesson-status-flexible {
  background-color: Plum;
  border-color: MediumOrchid;
}

.n-status-global, #lesson-status-global {
  background-color: DarkKhaki;
  border-color: Olive;
}

.n-status-park, #lesson-status-park {
  background-color: DarkGrey;
  border-color: Grey;
}


.tutor {
  margin: 1px;
  color: black;
  background-color: #aaf;
  line-height: 18px;
  border: 5px solid #aaf; }

.inlinetutorstudents {
  display: inline-block;
  width: 49%;
  vertical-align: top; }

.tutorinline, .studentinline {
  vertical-align: top; }

.tutor:hover {
  border: 5px solid green; }

.grouptutors {
  display: inline-block;
  width: 49%;
  vertical-align: top; }

.grouptutors2 {
  vertical-align: top; }

.groupstudents {
  display: inline-block;
  width: 49%;
  vertical-align: top; }

.groupstudents2 {
  vertical-align: top; }

.tutorname {
  width: 100%; }

.tutorcomment {
  /* background-color: white; */
  width: 100%;
  padding-left: 1%; }

.student {
  margin: 1px;
  color: black;
  background-color: #afa;
  line-height: 18px;
  border: 5px solid #afa; }

.student:hover {
  border: 5px solid blue; }

.studentname {
  width: 100%; }

.studentcomment {
  /* background-color: white; */
  width: 100%; }

#edit-comment-button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer; }

td {
  vertical-align: top; }

table {
  table-layout: fixed;
  width: 100%; }

table, th, td {
  border: 1px solid black; }

.firsttablecolumn {
  width: 100px; }

.positionable {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  background-color: #bcd5e6;
  text-align: center;
  width: 120px;
  height: 75px;
  z-index: 10; }

.ui-state-highlight {
  border: 5px solid green; }

.ui-droppable-hover {
  border: 5px solid red; }

.updating {
  background-color: amber; }

.history, .chain {
  margin: 1px;
  color: black;
  line-height: 18px;
  padding: 15px;
  width: 800px; }

.history {
  background-color: brown;
  border: 5px solid red; }

.chain {
  background-color: SkyBlue;
  border: 5px solid blue; }

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%; }

.history h4 {
  float: left;
  width: 45%;
  margin-top: 0; }

.chain h4 {
  float: left;
  width: 45%;
  margin-top: 0; }

.history #closehistory {
  float: right;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 200; }

.chain #closehistory {
  float: right;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 200; }


.history #closehistory:hover {
  background-color: white; }

.chain #closehistory:hover {
  background-color: white; }


.history svg {
  height: 100%;
  width: 100%; }

.chain svg {
  height: 100%;
  width: 100%; }


.history table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  clear: both;
  background-color: AliceBlue; }

.chain table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  clear: both;
  background-color: AliceBlue; }


.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf; }

.context-menu--active {
  display: block; }

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0; }

.context-menu__item {
  display: block;
  margin-bottom: 1px; }

.context-menu__item:last-child {
  margin-bottom: 0; }

.tertiary-menu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 250px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf; }

.tertiary-menu--active {
  display: block; }

.tertiary-menu__items {
  list-style: none;
  margin: 0;
  padding: 0; }

.tertiary-menu__item {
  display: block;
  margin-bottom: 1px; }

.context-menu__item:last-child {
  margin-bottom: 0; }

.hideme {
  display: none; }

.dullme {
  background:grey; 
}

#personInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 0px; }

#site-CALWELL {
  border: 2px solid lightpink; }

#site-DICKSON {
  border: 2px solid mediumseagreen; }

#site-GUNGAHLIN {
  border: 2px solid lightskyblue; }

#site-KALEEN {
  border: 2px solid purple; }

#site-KAMBAH {
  border: 2px solid yellow; }

#site-WODEN {
  border: 2px solid gainsboro; }

.t-kind-standard {
  background-color: #ffffff; }

.t-status-BFL {
  background-color: #ffffff; }

.s-kind-standard {
  background-color: #ffffff; }

.s-status-standard {
  background-color: #ffffff; }

.t-status-scheduled .tutorname, #tutor-status-scheduled {
  background-color: mediumturquoise; }

.t-status-notified .tutorname, #tutor-status-notified {
  background-color: mediumaquamarine; }

.t-status-confirmed .tutorname, #tutor-status-confirmed {
  background-color: palegreen; }

.t-status-attended .tutorname, #tutor-status-attended {
  background-color: yellowgreen; }

.t-status-deal .tutorname, #tutor-status-deal {
  background-color: fuchsia; }

.t-status-away .tutorname, #tutor-status-away {
  background-color: Gainsboro; }

.t-status-undealtAbsent .tutorname {
  background-color: #ff0000; }

.t-status-dealtAbsent .tutorname {
  background-color: #666666; }

.t-status-absent .tutorname, #tutor-status-absent {
  background-color: #CC0000; }

.t-kind-standard .statusinfo, #tutor-kind-standard {
  background-color: PeachPuff; }
  /* background-color: mediumspringgreen; } */

.t-kind-training .statusinfo, #tutor-kind-training {
  background-color: sandybrown; }

.t-kind-called .statusinfo, #tutor-kind-called {
  background-color: lightskyblue; }

.t-kind-relief .statusinfo, #tutor-kind-relief {
  background-color: wheat; }

.t-kind-BFL .statusinfo, #tutor-kind-bfl {
  background-color: #ffff00; }

.t-kind-BFLassist .statusinfo, #tutor-kind-bflassist {
  background-color: #eeee00; }

.t-kind-away-action .statusinfo {
  background-color: #ff0000; }

.t-kind-known-steps-remaining .statusinfo {
  background-color: #ff9900; }

.t-kind-needsAttention .statusinfo {
  background-color: #ff00ff; }

.t-kind-breakRoutine-relief .statusinfo {
  background-color: #00ff00; }

.t-kind-bewareIssue .statusinfo {
  background-color: #9900ff; }

.t-kind-awayAction .statusinfo {
  background-color: #CC0000; }

.t-kind-onCall .statusinfo, #tutor-kind-oncall {
  background-color: #00FFFF; }

.t-kind-onSetup .statusinfo, #tutor-kind-onsetup {
  background-color: #EAD1DC; }

.s-status-scheduled .studentname, #student-status-scheduled {
  background-color: mediumturquoise; }

.s-status-attended .studentname, #student-status-attended {
  background-color: yellowgreen; }

.s-status-deal, #student-status-deal {
  background-color: fuchsia; }

.s-status-away, #student-status-away {
  background-color: Gainsboro; }

.s-status-awaycourtesy, #student-status-awaycourtesy {
  background-color: Gainsboro; }

.s-status-undealtAbsent {
  background-color: #FF0000; }

.s-status-dealtAbsent {
  background-color: #666666; }

.s-status-absent, #student-status-absent {
  background-color: #CC0000; }

.s-kind-first, #student-kind-first {
  background-color: #B6D7A8; }

.s-kind-catchup, #student-kind-catchup {
  background-color: lightblue; }
.s-kind-catchupcourtesy, #student-kind-catchupcourtesy {
  background-color: lightblue; }

.s-kind-fortnightly, #student-kind-fortnightly {
  background-color: steelblue; }

.s-kind-onetoone, #student-kind-onetoone {
  background-color: salmon; }

.s-kind-standard, #student-kind-standard {
  background-color: PeachPuff; }
  /* background-color: mediumspringgreen; } */

.s-kind-BFL {
  background-color: #ffff00; }

.s-kind-free, #student-kind-free {
  background-color: #00ff00; }

.s-kind-1stpaid {
  background-color: #B6D7A8; }

.s-kind-known-steps-remaining {
  background-color: #FF9900; }

.s-kind-plannedAbsence-needsAttention {
  background-color: #FF00FF; }

.s-kind-breakRoutine-courtisyOrShifted {
  background-color: #00FFFF; }

.s-kind-bewareIssue {
  background-color: #9900FF; }

.s-kind-fortnightly {
  background-color: #A2C4C9; }

.s-kind-awayAction {
  background-color: #C00000; }

.s-kind-Gungahlin {
  background-color: #C9DAF8; }

.s-kind-Kaleen {
  background-color: #D9D2E9; }

.s-kind-Woden {
  background-color: #D9D9D9; }

.s-kind-Kambah {
  background-color: #FFF2CC; }

.s-kind-notes {
  background-color: #FCE5CD; }

.t-kind-notes {
  background-color: #FCE5CD; }

.t-kind-tutorNote {
  background-color: #999999; }

.s-kind-tutorNote {
  background-color: #999999; }
