// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-slot {
  background-color: grey;
}

.session {
  margin: 1px;
  background-color: #f8f;
  padding-top: 8px;
  font-size: x-small;
  line-height: 8px;
  border:3px solid #faf;}

.session:hover {
  border: 3px solid black;
}

.tutor {
  margin: 1px;
  color: black;
  background-color: #aaf;
  line-height: 18px;
  border:3px solid #aaf;
}

.tutor:hover {
  border: 3px solid green;
}

.tutorname {
  display: inline-block;
  width: 25%;
}

.tutorcomment {
  display: inline-block;
  background-color: white;
  width: 74%;
}

.student {
  margin: 1px;
  color: black;
  background-color: #afa;
  line-height: 18px;
  border:3px solid #afa;
}

.student:hover {
  border: 3px solid blue;
}

.studentname {
  display: inline-block;
  width: 25%;
}

.studentcomment {
  display: inline-block;
  background-color: white;
  width: 74%;
}

td {
  vertical-align: top;
}
table {
  width: 100%; 
}
table, th, td {
  border: 1px solid black;
}
.positionable {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  background-color: #bcd5e6;
  text-align: center;
  width: 120px;
  height: 75px;
  z-index: 10;
}

.ui-draggable {
  //background-color: #ffd5e6;
}

.ui-draggable-dragging {
  //border: 5px solid red;
}

.ui-state-highlight {
  border: 5px solid green;
}

.ui-droppable-hover {
  border: 5px solid red;
}


.updating {
  background-color: amber;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  //padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 1px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.hideme {
  display: none;
}

#personInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 0px;
}